{%  extends "regular.html" %}
{% block body %}
  <h1 id="limits">Frequently asked questions</h1>

  <h2>
    Can I use ShareX to upload?
  </h2>
  <p>Sure thing! Here's the config: <a href="https://paste.thebitstick.xyz/owosevujod">i am link</a></p>
  <p>Import that as a custom uploader and fire away</p>

  <h2>
    Can I upload using my phone?
  </h2>
  <p>Sure, go ahead. You might even want to <a href="{{ url_for('static', filename="AddToHomescreen.png") }}">add {{ page.title }} to your homescreen</a>.</p>

  <h2>
    Who runs this thing
  </h2>
  <p>A guy called BitStick (<a href="https://www.thebitstick.xyz">Website</a>)</p>

  <h2>
    What powers this site?
  </h2>
  <p>The server itself is a Raspberry Pi, sitting behind CloudFlare.</p>
  <p>The actual site is purely Python/Flask powered.</p>

{% endblock %}
