<!doctype html>
<html lang=en>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Meta tags for web app usage -->
		<meta content="#1D1D1D" name="theme-color">
		<meta content="yes" name="mobile-web-app-capable">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">

  </head>
</div>
<style>
.notel {
  color: #d9d9d9;
  text-decoration: none;
}
</style>
    <div class="page">
      {% block body %}{% endblock %}
    </div>
<div class="language">
<ul class="lan-list">
        <a href="/">English</a> |
        <a href="jp">日本語</a> |
        <a href="es">Espanol</a> |
        <a href="pl">Polski</a> |
        <a href="sv">Svenska</a> |
        <a href="de">Deutsch</a> |
	<a href="nl">Nederlands</a> |
        <a href="ar">ﺎﻠﻋﺮﺒﻳﺓ</a> |
        <a href="fi">Suomi</a> |
        <a href="sr">Српски</a>
</ul>
</div>
  </body>
</html>
