{%  extends "regular.html" %}
{% block body %}
    <h1 id="limits">Terms</h1>
    <ul>
      <li><strong>You</strong> are responsible for the file you upload</li>
      <li>The max file size is <strong>40 MB</strong></li>
      <li>Files may be deleted if requested by the content owner</li>
      <li>If I find illegal content (eg. CP, viruses and such) it will instantly be deleted</li>
      <li>Only certain filetypes are allowed</li>
      </ul>
      <h2 id="allowed-filetypes">Allowed filetypes</h2>
      <ul>
      <li>png</li>
      <li>jpg</li>
      <li>jpeg</li>
      <li>gif</li>
      <li>webm</li>
      <li>txt</li>
      <li>mp4</li>
      <li>wmv</li>
      <li>mp3</li>
      <li>ogg</li>
      <li>zip</li>
      <li>css</li>
      <li>doc</li>
      <li>docx</li>
      <li>odt</li>
      <li>pdf</li>
      <li>ass</li>
      </ul>
      <p>More may be added. If there is a specific filetype you believe I should add, tell me.</p>
      <h2 id="contact">Contact</h2>
      <p>You may contact me by mail at thebitstick[at]mail[dot]thebitstick.xyz</p>
      <p>For less formal requests you may mention me on <a href="http://twitter.com/thebitstick">twitter</a></p>
      <h2 id="source-code">Source code</h2>
      <p><a href="https://github.com/thebitstick/Upflask">On Github</a></p>
      <br>
{% endblock %}
