{% extends "shell.html" %}
{% block body %}
  <h1 class="title">
    Upflask
  </h1>
  <form action="file" id="form" name="fileForm" method="post" enctype="multipart/form-data" class="uploadForm">
    <div id="uploadButton" class="uploadButton">
      <p id="uploadText">
        Select file | ファイルを選択<br> Elegir archivo | Wybrać plik<br>Välj fil | Datei auswählen<br>اختر ملفاً
      </p>
      <input id="file" type="file" name="file">
    </div>
    <input type="hidden" name="source" value="web">
  </form>
  <ul class="links">
    <li>
      <a href="/terms">Terms</a>
    </li>
    <li>
      <a href="/faq">FAQ</a>
    </li>
    <li>
      <a href="/termsjp">利用規約</a>
    </li>
    <li>
      <a href="/faqjp">ある質問</a>
    </li>
    <li>
      <a href="/termses">Condiciones</a>
    </li>
    <li>
      <a href="/faqes">Preguntas</a>
    </li>
    <li>
      <a href="/termspl">Regulamin</a>
    </li>
    <li>
      <a href="/faqpl">Pytania</a>
    </li>
    <li>
      <a href="/termssv">Användarvillkor</a>
    </li>
    <li>
      <a href="/faqsv">Frågor</a>
    </li>
    <li>
      <a href="/termsde">Nutzungs</a>
    </li>
    <li>
      <a href="/faqde">Fragen</a>
    </li>
    <li>
      <a href="/termsar">شروط الرفع</a>
    </li>
    <li>
      <a href="/faqar">أسئلة شائعة</a>
    </li>
  </ul>
  <script>
  document.getElementById("file").onchange = function() {
    document.getElementById("uploadText").innerHTML = "Uploading...|アップロード...<br>Cargando...|Wysyłanie...<br>Laddar upp...|Lade hoch...<br>تحميل ...";
    var button = document.getElementById("uploadButton");
    button.className = button.className + " uploading";
    document.getElementById("form").submit();
  };
  </script>
{% endblock %}
